.fatfooter {
  @include make-fatfooter($fatfooter-length, 100%);
  @extend %clearfix;
  overflow: hidden; 
  .container {
    overflow: hidden;
    @include box-sizing;
    @include gutter;
    background: $fatfooterBgColor;
    padding: 0 20px 1em 20px;
    @include screen('mobile') {
      padding:0 15px 1em 15px;
    }
  }
  .btn-fatfooter {
    display: block;
    width: 60px;
    height: 60px;
    color: #FFF;
    border: none;
    background: $secondaryColor;
    position: absolute;
    right: 88px;
    top: -4px;
    z-index: 90;
    text-indent: -9999px;
    @include border-radius(0);
    @include screen('mobile') {
      right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border: 2px solid #FFF;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      left: 50%;
      top: 25px;
      margin-left: -6px;
      transition: .3s ease-out;
    }
    &:hover,
    &:focus {
      background: darken($aHover, 10);
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &.close {
      &:before {
        transform: rotate(135deg) !important;
        top: 20px;
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    text-align: left;
    padding-top: 4em;
    @include box-sizing;
    @include screen('mobile') {
      padding: 1em 0;
    }
    ul {
      @include li-reset;
      @include screen('mobile') {
        width: 100%;
        display: block;
        margin: 0px auto;
      }
      >li {
        display: inline-block;
        vertical-align: top;
        margin: 0 -5px 1em 0;
        @include box-sizing;
        @include screen('mobile') {
          display: block;
          margin:0 0 .4em
        }
        >a {
          font-size: .9375em;
          line-height: 1.5;
          display: block;
          font-weight: bold;
          padding: .3em .2em;
          @include box-sizing;
          color: #fff;
          cursor: pointer;
          position: relative;
          @include screen('mobile') {
            color: $lightColor;
          }
          &:before{
            content: "";
            width: 0;
            height: 2px;
            background: #fff;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            transition:.5s all;
          }
          &:hover,&:focus{
            // box-shadow: none;
            color: $primaryColor2;
            &:before{
              width: 50%;

            }
          }
        }
        ul {
          margin-top: 5px;
          @include screen('mobile') {
            width: auto;
          }
          li {
            display: block;
            margin: 0;
            width: 100%;
            @include screen('mobile') {
              display:inline-block;
              width:auto;
            }
            a {
              font-size: .875em;
              font-weight: normal;
              color: #d9d9d9;
              @include box-sizing;
              &:before{
                display: none;
              }
              &:hover,&:focus{
                color: #0ba1a9;
              }
              @include screen('mobile') {
                padding:.3em .2em;
              }
            }
          }
        }
      }
    }
  }
}