.advanced_search_block{
  display: block;
  clear: both;
  margin:-55px 0 10px 0;
  overflow: hidden;
  @include screen('mobile') {
    margin:0 0 10px 0;
  }
  .search_btn{
    display: block;
    clear: both;
    position: relative;
    float: left;
    @include screen('mobile') {
      width: 100%;
      position: relative;
      bottom:auto;
      right: auto;
      margin: 0;
      float: none;
      display: block;
    }
    a{

      display: block;
      padding: .4em 1.5em .4em 2.5em;
      background: $secondaryColor url(../images/basic/icon_search_.png) no-repeat 15px center;
      background-size: 18px;
      border: 0;
      color: #FFF;
      border-radius: 3px;
      &:hover,&:focus{
        background: $primaryColor url(../images/basic/icon_search_.png) no-repeat 15px center;
        background-size: 18px;
        box-shadow: none;
      }
    }
  }
  .advanced_search{
    background: #e5e5e5;
    padding: .8em;
    box-sizing: border-box;
    clear: both;
    position: relative;
    display: block;
    margin-top: 50px;
    border-radius: 3px;
    @include screen('mobile') {
      margin-top: 10px;
    }
    .form_grid{
      margin: 0;
      display: flex;
      flex-wrap:wrap;
      @include screen('mobile') {
        display: block;
      }
    }
    .form_grp{
      border-bottom: 0;
      width: 50%;
      display: flex;
      @include screen('mobile') {
        width: 100%;
      }
      .form_title{
        width: auto;
        white-space: nowrap;
        @include screen('mobile') {
          padding-left: 0;
        }
      }
      .form_content{
        width: auto;
        flex-grow: 1;
        display: flex;
        @include screen('mobile') {
          padding-right: 0;
          padding-left: 0;
        }
      }
      // @include make-xs-column(12);
      // @include make-sm-column(6);
      // @include make-md-column(6);
      // @include make-lg-column(6);
      // @include screen('mobile') {
      //   padding: 0;
      //   .form_title,.form_content{
      //     padding: 0;
      //   }
      // }
    }
    .btn_grp{
      padding: 0;
      clear: both;
      width: 100%;
      @include screen('mobile') {
        text-align: left;
      }
    }
  }
}
.lp {
  display: flex;
  justify-content:space-between;
  flex-wrap: nowrap;
  @include screen('mobile') {
    flex-wrap:wrap;
  }

  table {
    td {
      a {
        @include aSetting_nocolor;
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    width: 100%;
    &>ul, ol {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      border-top: 5px solid #434242;
      &>li {
        padding: 25px 0;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        overflow: hidden;
        .list_info{
          overflow: hidden;
          clear: both;
          a{
            display: block;
            clear: both;
            width: 100%;
            .list__title{
              display: block;
              color: #333;
              font-weight: bold;
              font-size: 1.125em;
              margin-bottom: 12px;
            }
            .list__text{
              display: block;
              color: #6a6a6a;
              font-size: 0.9375em;
              margin-bottom: 10px;
            }
            &:hover,&:focus{
              .list__title{
                color: $primaryColor;
              }
            }
          }
        }

        .list__dept{
          font-size: 0.875em;
          margin-right: 15px;
          a{
            background: #444;
            color: #fff;
            padding: .4em 1em;
            display: inline-block;
            border-radius: 3px;
            &:hover,&:focus{
              background: $primaryColor;
            }
          }

        }
        time{
          color: #777;
          font-size: 0.875em;
        }
        // .list__more{
        //   @include make-xs-column(12);
        //   @include make-sm-column(2);
        //   @include make-md-column(2);
        //   @include make-lg-column(2);
        //   padding-left: 24px;
        //   a{
        //     padding: 3em 1.2em 3em .5em;
        //     color: #333;
        //     background: url(../images/more.png) no-repeat right center;
        //     &:hover,&:focus{
        //       color: $primaryColor;
        //       background: url(../images/more_.png) no-repeat right center;
        //     }
        //   }

        // }
      }
    }
  }
  .table_list{
    width: 100%;
    margin-top: 15px;
    table{
      border-top: 4px solid $primaryColor; 
    }
  }
}
.lp__album,.lp__album_video{
  // margin-top: 15px;
  ul {
    @include li-reset;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    li {
      // @include make_col(2, 1);
      width: 31%;
      overflow: visible;
      @include screen('mobile') {
        width: 100%;
      }
      .album__thumbnail {
        width: 100%;
        margin: 0 auto 1em 0;
        position: relative;
        a{
          .img-container{
            margin-bottom: 0;
            position: relative;
            img{
              transition:all 1s;
              transform:scale(1);
              z-index: 8;
            }
          }
          .album__caption {
            position: relative;
            width: 100%;
            padding: .6em 0 1em 0;
            margin: 0;
            color: #333;
            z-index: 2;
            @include text-overflow;
            @include box-sizing;
            .album__date{
              font-size: .875em;
              color: #848484;
              margin-bottom: 4px;
              display: inline-block;
            }
            .album__dep{
              font-size: .875em;
              color: #848484;
              margin-bottom: 4px;
              display: inline-block;
              &:before{
                content: "|";
                margin-left: 8px;
                margin-right: 8px;
              }
            }
            .album__title{
              display: block;
              font-size: 1.125em;
              white-space: normal;
              letter-spacing: .05em;
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 48px;
              @include screen('mobile') {
                height: auto;
              }
            }
            .album__text{
              display: block;
              font-size: .9375em;
              white-space: normal;
              color: #555;
              text-align: justify;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              max-height: 80px;
              @include screen('mobile') {
                height: auto;
              }
              &:before{
                content: "";
                width: 100%;
                height: 3px;
                display: block;
                background: $secondaryColor;
                margin-top: 6px;
                margin-bottom: 6px;
              }
            }
          }
          &:hover{
            .img-container img{
              transform:scale(1.1);
            }
          }
        }
      }
    }
  }

}
.lp__album_video{
  ul li a{
    // .img-container .play{
    //   width: 50px;
    //   height: 50px;
    //   display: block;
    //   border-radius: 5px;
    //   background: $secondaryColor;
    //   position: absolute;
    //   left:50%;
    //   top: 50%;
    //   margin-left: -25px;
    //   margin-top: -25px;
    //   z-index: 9;
    //   box-shadow: 0 0 4px rgba(0,0,0,.8);
    //   &:before{
    //     content: "";
    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 10px 0 10px 16px;
    //     border-color: transparent transparent transparent #fff;
    //     position: absolute;
    //     left: 20px;
    //     top: 13px;
    //   }
    // }
    // &:hover{
    //   .img-container .play{
    //     background: #222;
    //   }
    // }
  }
}