// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.np {
  display: flex;
  justify-content:space-between;
  flex-wrap: nowrap;
  @include screen('mobile') {
    flex-wrap:wrap;
  }
  .np__list{
    @include screen('mobile') {
      width: 100%;
    }
    ul,ol {
      overflow:hidden;
      padding:1em 0;
      margin: 0;
      overflow:hidden;
    }
    li {
      display: block;
      width: 48%;
      margin: 0 2% 10px 0;
      float: left;
      @include box-sizing(border-box);
      &:nth-child(even) {
        width: 50%;
        margin-right: 0px;
      }
      @include screen('mobile') {
        float:none;
        width: 100%;
        margin:0px auto 10px;
        &:nth-child(even){
          width: 100%;
          margin-right: auto;
        }
      }
      a {
        border: 1px solid #DDD;
        border-left: 5px solid $primaryColor;
        padding: 2em 1em 2em 2em;
        display: block;
        vertical-align: top;
        @include text-overflow;
        position:relative;
        @include aSetting_nocolor;
        background: url(../images/deco_icon.png) no-repeat right 50px;
        .num{
          position: absolute;
          width:1em;
          top: 2em;
          left: .5em;
          text-align: right;
          &:after{
            content:".";
            display:inline-block;
          }
        }
        &:hover,
        &:focus {
          color: $primaryColor;
          background: #e5e5e5 url(../images/deco_icon.png) no-repeat right 50px;
          border: 1px solid $primaryColor;
          border-left: 5px solid $primaryColor;
        }
      }
    }
  }
}
